<p> I worked in the Cloud Team of <a href="https://reachout.cics.umass.edu/login">
        ReachOUT </a> to deploy the dynamic website to AWS serverless services. </p>

<p> This website is deployed on AWS CloudFront, S3, and Lambda. </p>