<p> I have taken Game Programming course and learned to develop game in Unity. </p>
<p> I play League, AAA, and independent games, these masterpieces ignited my passion for
    being an Game Developer. </p>