<p> I took IoT Class (CS 390N) at UMass Amherst and did projects on Arduino ESP8266 include <a
            href="https://www.youtube.com/watch?v=mOR20ydotqU">Room Security System</a> and <a
            href="https://www.youtube.com/watch?v=kcHg1_lxqtc">Small WiFi Server</a> with
    ESP8266. </p>