<p> I have been researching the use of AI in Drug Discovery. </p>
<p><a href="https://github.com/garywei944/FMol"> FMol </a> is a simplified drug discovery pipeline project I did
    in the summer of 2020. </p>