<p>We presented a combined model to evaluate the accuracy of the Asian Giant Hornet
    sightings reported in Washington State.</p>
<p> I predicted daily closing price of Sony Stock with a Multiple Linear Regression Model.
    The model was implemented by Python and Keras. </p>