<p> I predicted daily closing price of Sony Stock with a Multiple Linear Regression Model.
    The model was implemented by Python and Keras. </p>
<p>I cannot open source any material by UMass Academic Honesty Policy or without my
    teammates' consent. </p>