<div class="feature-v1" data-aos="fade-up" data-aos-delay="0">
    <span class="d-block contact-info-label"> Social Media </span>
    <div class="wrap-icon mb-3">
        <a href="https://www.linkedin.com/in/garywei944/">
            <img alt="LinkedIn" src="images/svg/linkedin.svg" width="36"/> </a>
        <a href="https://www.facebook.com/garywei944">
            <img alt="Facebook" src="images/svg/facebook.svg" width="36"/> </a>
        <a href="https://twitter.com/Garywei944">
            <img alt="Twitter" src="images/svg/twitter.svg" width="36"/> </a>
        <a href="https://www.instagram.com/garywei944/">
            <img alt="Instagram" src="images/svg/instagram.svg" width="36"/> </a>
        <a href="https://weibo.com/u/3169486720">
            <img alt="Sina Weibo" src="images/svg/sinaweibo.svg" width="36"/> </a>
    </div>
</div>

<div class="feature-v1" data-aos="fade-up" data-aos-delay="0">
    <span class="d-block contact-info-label"> Profiles </span>
    <div class="wrap-icon mb-3">
        <a href="https://github.com/garywei944">
            <img alt="GitHub" src="images/svg/github.svg" width="36"/>
        </a>
        <a href="https://wakatime.com/@garywei944">
            <img alt="WakaTime" src="images/svg/wakatime.svg" width="36"/> </a>
        <a href="https://www.youtube.com/channel/UCj8ln8nYtPl4lA_6FrWDtyg"> <img
                    alt="YouTube" src="images/svg/youtube.svg" width="36"/> </a>
        <a href="https://space.bilibili.com/3255441">
            <img alt="Bilibili" src="images/svg/bilibili.svg" width="36"/> </a>
        <a href="https://steamcommunity.com/profiles/76561198306044214/"> <img
                    alt="Steam" src="images/svg/steam.svg" width="36"/> </a>
        <a href="https://www.reddit.com/user/garywei944">
            <img alt="Reddit" src="images/svg/reddit.svg" width="36"/> </a>
        <a href="https://www.zhihu.com/people/wei-guang-hao-88">
            <img alt="Zhihu" src="images/svg/zhihu.svg" width="36"/> </a>
        <br>
        <a href="https://leetcode.com/garywei944/">
            <img alt="LeetCode" src="images/svg/leetcode.svg" width="36"/> </a>
        <a href="https://www.kaggle.com/garywei944">
            <img alt="kaggle" src="images/svg/kaggle.svg" width="36"/> </a>
        <a href="https://blog.csdn.net/garywei944">
            <img alt="csdn" src="images/svg/csdn.svg" width="108"/> </a>
    </div>
</div>
