<div class="col-md-12 mb-4">
    <div class="detail-v1">
        <span class="detail-label">Project Description</span>
        <p>
            The winning condition of the game is to reach the safe house before
            infected and killed by the virus.
        </p>
        <p>
            The maze is generated randomly and path finding algorithm is implemented
            to make sure that at least 1 path exist from the start point to the safe
            house.
        </p>
        <p>
            Made with Unity.
        </p>
    </div>
    <div class="detail-v1">
        <span class="detail-label">Project Date</span>
        <span class="detail-val">Nov 6th, 2020</span>
    </div>
    <div class="detail-v1">
        <span class="detail-label"> Download </span>
        <a href="https://s3.amazonaws.com/ariseus.net/public/aris_cs590g_p5_1.0.0_win_x86_64.zip">
            <input type="submit"
                   class="btn btn-outline-pill btn-custom-light mr-3"
                   value="Windows 64 bit">
        </a>
    </div>
</div>