<div class="col-md-12 mb-4">
    <div class="detail-v1">
        <span class="detail-label">Project Description</span>
        <p>
            The goal of the game is that Claire should arrive at the target zone
            (EndZone) to save her cat, while avoiding the apples thrown at her from
            the turrets.
        </p>
        <p>Claire loses one life (out of five) when an apple hits her. If she loses
            all five, then she "dies".
        </p>
        <p>
            Made with Unity.
        </p>
    </div>
</div>
<div class="col-md-12 mb-4">
    <div class="detail-v1">
        <span class="detail-label">Project Date</span>
        <span class="detail-val">Oct 8th, 2020</span>
    </div>
</div>
<div class="col-md-12 mb-4">
    <div class="detail-v1">
        <span class="detail-label"> Instructions </span>
        <p>
            <span style="color: deeppink">"W"</span> and <span
                    style="color: deeppink">"S"</span> to go forward or back <br>
            <span style="color: deeppink">"A"</span> and <span
                    style="color: deeppink">"D"</span> to turn around <br>
            <span style="color: deeppink">"Ctrl"</span> to crouches <br>
            <span style="color: deeppink">"Shift"</span> to run <br>
            <span style="color: deeppink">"Space"</span> to jump while running
        </p>
    </div>
</div>
<div class="col-md-12 mb-4">
    <div class="detail-v1">
        <span class="detail-label"> Download </span>
        <a href="https://s3.amazonaws.com/ariseus.net/public/aris_cs590g_p3_1.0.0_win_x86_64.zip">
            <input type="submit"
                   class="btn btn-outline-pill btn-custom-light mr-3"
                   value="Windows 64 bit">
        </a>
        <a href="https://s3.amazonaws.com/ariseus.net/public/aris_cs590g_p3_1.0.0_mac.zip">
            <input type="submit"
                   class="btn btn-outline-pill btn-custom-light mr-3"
                   value="Mac">
        </a>
    </div>
</div>