<p>
    I took the security class (CS 390R) titled Reverse Engineering and Vulnerability Analysis at UMass Amherst and
    acquired elementary level skills of vulnerability analysis and exploiting C-based programs.
</p>

<p>
    I enjoyed the time solving CTF challenges.
</p>