<p>
    I started to develop full stack websites using node.js(express), Django and work with AWS serverless services since
    2019. I design full stack web-application architectures.
</p>

<p>
    This website is currently deployed on Heroku and a traditional server using Docker containers. It is a node.js
    express based server-render website.
</p>