<p>
    I started to develop full stack websites using node.js and work with AWS serverless services since 2019.
</p>

<p>
    This website is currently deployed on Heroku and a traditional server using Docker containers. It is a node.js
    based server-render website.
</p>