<p><a href="https://www.cg3blogplatform.com/">CG3</a> is a full stack project we developed from scratch.</p>

<p> I worked in the Cloud Team of <a href="https://reachout.cics.umass.edu/login">
        ReachOUT </a> to deploy the dynamic website to AWS serverless services. </p>

<p>This website is also deployed on AWS Elastic Beanstalk service.</p>