<p> I have taken Game Programming course (UMass CS 576) and learned to develop game in Unity. </p>
<p> I play League, AAA, and indie games, these masterpieces ignited my passion for being a Game Developer. </p>