<p>I'm currently working on BioNLP projects with Prof. <a
            href="https://www.uml.edu/sciences/computer-science/faculty/yu-hong.aspx">Hong Yu</a> at UMass Lowell.</p>
<p>I have also worked on projects in Computer Vision(3D) and Bioinformatics.</p>