<p>
    I'm currently studying ML at Cornell University.

    I worked at UMass BioNLP Lab on biomedical NLP projects directed by Prof.
    <b><a href="https://www.uml.edu/sciences/computer-science/faculty/yu-hong.aspx">Hong Yu</a></b>.
</p>
<p>
    My research interests include machine learning in biomedical NLP, 3D computer vision, and high performance
    reproducible machine learning projects.
</p>
<p>
    Checkout <b><a href="https://acad.garywei.dev">acad.garywei.dev</a></b> for more!
</p>