<p>
    I received my B.S. degree in Computational Math and Applied Math, which include numerical solution and analysis to
    solve linear system, approximation problem, ODE, etc.
</p>

<p>
    I've taken MATH 651, Grad Level Numerical Analysis, with Prof.
    <b><a href="https://people.math.umass.edu/~qchen/"> Qianyong Chen </a></b>
    in advance.
</p>