<p> I have experienced projects on Windows 10, macOS, and Ubuntu 20.04 and professional with
    all these Operating Systems. </p>
<p> I am actively maintaining GitHub Repos for custom scripts and commands. Check out <a
            href="https://github.com/garywei944/eva_init">eva_init</a>(Ubuntu), <a
            href="https://github.com/garywei944/eva_ubuntu">eva_ubuntu</a>(Ubuntu), and <a
            href="https://github.com/garywei944/eva_windows">eva_windows</a>(Windows 10). </p>