<p>
    I'm a PROUD Arch Linux user.
    I also conduct research on Windows 10, macOS, and Ubuntu 20.04, and proficient with docker and VM solutions.
</p>
<p>
    I write compatible command line scripts. Check out
    <a href="https://github.com/garywei944/eva_arch">eva_arch</a>(Arch Linux),
    <a href="https://github.com/garywei944/eva_init">eva_init</a>(Ubuntu),
    <a href="https://github.com/garywei944/eva_ubuntu">eva_ubuntu</a>(Ubuntu), and
    <a href="https://github.com/garywei944/eva_windows">eva_windows</a>(Windows 10).
</p>