<p>
    I'm pursuing the Master of Engineering degree in Computer Science at Cornell University in Ithaca.
</p>
<p>
    A Biography refers to <b><a href="https://acad.garywei.dev#about">acad.garywei.dev</a></b>.
</p>
