<p>
    I'm pursuing the Master of Engineering degree in Computer Science at
    Cornell University in Ithaca.
</p>
<p>
    I'm working at <b><a href="https://relax-ml.cs.cornell.edu/">Cornell Relax
            ML Lab</a> </b>on Machine Learning System projects advised by Prof.
    <b><a href="https://www.cs.cornell.edu/~cdesa/">Chris De Sa</a></b>. A Biography
    refers to <b><a href="https://acad.garywei.dev#about">acad.garywei.dev</a></b>.
</p>
