<p>
    I received dual B.S. degrees in Computer Science and Mathematics and minor in Japanese.
</p>

<p>
    I worked at
    <b><a href="https://bio-nlp.org/"> UMass BioNLP lab </a></b>
    on practical biomedical NLP projects directed by Prof.
    <b><a href="https://www.uml.edu/sciences/computer-science/faculty/yu-hong.aspx">Hong Yu</a></b>.
</p>
