<p>
    I'm a dual B.S. in Computer Science and Mathematics. I also study in Japanese language and minor in Japanese.
</p>
<p>
    A Biography refer to <a href="https://acad.garywei.dev#about">acad.garywei.dev</a>.
</p>
