<p>
    Cornell Chinese Students and Scholars Association.
    Joining Cornell CSSA is the most precious experience of my student life.
</p>

<p>
    Together we organized the Cornell Spring Festival Gala, Mid-Autumn Festival carnival and other activities.
    I was also in charge of the freshman pickup service.
</p>