<a href="https://github.com/garywei944/FMol"> FMol </a> is a simplified drug
discovery pipeline. I worked with <a href="https://www.linkedin.com/in/ej-yizhuo-chen/">
    E.J. Chen </a> in the summer of 2020. FMol can generate SMILE molecular with
AlphaSMILES, predict protein structure with AlphaFold, and check the druggability with
fpocket/Amber.