<p>

    <b><a href="https://github.com/garywei944/FMol"> FMol </a></b> is a simplified drug discovery pipeline.
    I worked with <b><a href="https://www.linkedin.com/in/ej-yizhuo-chen/"> E.J. Chen </a></b> in the summer of 2020.
</p>
<p>
    FMol generates SMILE molecular with AlphaSMILES, predict protein structure with AlphaFold, and check the
    druggability with fpocket/Amber.
</p>
