<p>
    I work at <b><a href="https://relax-ml.cs.cornell.edu/">Cornell Relax ML
            Lab</a></b> with Prof. <b><a
                href="https://www.cs.cornell.edu/~cdesa/">Chris De Sa</a></b>
    on efficient machine learning algorithms and systems.
</p>
<p>
    Our work, grounded in mathematical principles, aims to expedite
    large-scale, high-performance machine learning systems that are efficient,
    parallel, and distributed in real-world settings.
</p>