<p class="lead gsap-reveal">
    I'm pursuing a Master of Engineering degree in Computer Science at <b><a
                href="https://www.cornell.edu/">Cornell
            University.</a></b>

    I received Dual B.S. degrees in Math and Computer Science and minoring in
    Japanese at <b><a
                href="https://www.umass.edu/">UMass Amherst</a></b>.
</p>
<p class="lead gsap-reveal">
    My current interests focuses on Machine Learning Systems, Machine Learning
    Theory, and AI4Science.
</p>
<p class="lead gsap-reveal">
    I always depict myself as a combination of scientist and engineer.
    I do project in Machine Learning, Distributed Computing, Full Stack
    websites, Game programming, Cyber-security, etc.
</p>

<p class="lead gsap-reveal">
    My vision is to do something noble, and I'm still on the road to learning.
</p>

<p class="lead gsap-reveal">
    <a class="btn btn-outline-pill btn-custom-light"
       href="https://s3.amazonaws.com/garywei.dev/Guanghao_Wei_Resume.pdf"
       target="_blank">
        Download Resume </a>
</p>
