<p class="lead gsap-reveal">
    I'm pursuing a double bachelor's degree in Math and Computer Science at <a href="https://www.umass.edu/">UMass
        Amherst</a>.
</p>
<p class="lead gsap-reveal">
    I'm a Machine Learning Engineer, Full Stack Developer, and Game Developer. Taking over 70 credits in Computer
    Science has allowed me to dabbled in a variety of fields.
</p>
<p class="lead gsap-reveal">
    I also have double concentration in Applied Math and Mathematical Computing.
</p>
<p class="lead gsap-reveal">
    I'm a native Chinese speaker and I can also speak English and Japanese. I'm pursuing a Japanese minor.
</p>
<p class="lead gsap-reveal"> My vision is to do something noble, and I'm still on the road to learning. </p>

<p class="lead gsap-reveal">
    <a class="btn btn-outline-pill btn-custom-light"
       href="https://s3.us-east-1.amazonaws.com/garywei.dev/Guanghao%20Wei%20Resume.pdf">
        Download Resume </a>
</p>
