<nav class="unslate_co--site-nav site-nav-target">
    <div class="container">
        <div class="row align-items-center justify-content-between text-left">
            <div class="col-md-5 text-right">
                <ul class="site-nav-ul js-clone-nav text-left d-none d-lg-inline-block">
                    <li class="has-children"><a class="nav-link" href="/#home-section"> Home </a>
                        <ul class="dropdown">
                            <li><a href="https://github.com/garywei944"> GitHub </a></li>
                            <li><a href="https://www.youtube.com/channel/UCj8ln8nYtPl4lA_6FrWDtyg/">
                                YouTube </a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link" href="/#about-section"> About </a></li>
                    <li><a class="nav-link" href="/#portfolio-section"> Projects </a></li>
                    <li><a href="/#blog-section" class="nav-link">Blogs</a></li>
                    <li class="has-children"><a class="nav-link" href="/#education-section"> Education </a>
                        <ul class="dropdown">
                            <li><a class="nav-link" href="/#award-section"> Awards </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="site-logo pos-absolute">
                <a class="unslate_co--site-logo" href="/"> &AElig;r1S <span> . </span>
                </a>
            </div>
            <div class="col-md-5 text-right text-lg-left">
                <ul class="site-nav-ul js-clone-nav text-left d-none d-lg-inline-block">
                    <li><a class="nav-link" href="/#experience-section"> Experience </a></li>
                    <li><a class="nav-link" href="/#skills-section"> Skills </a></li>
                    <li class="has-children"><a class="nav-link" href="/#contact-section"> Contact </a>
                        <ul class="dropdown">
                            <li><a href="https://www.linkedin.com/in/garywei944/"> LinkedIn </a></li>
                            <li><a href="https://www.facebook.com/garywei944"> Facebook </a></li>
                            <li><a href="https://twitter.com/Garywei944"> Twitter </a></li>
                            <li><a href="https://www.instagram.com/garywei944/"> Instagram </a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link" href="https://www.ariseus.dev"> Ariseus Studio </a></li>
                </ul>
                <ul class="site-nav-ul-none-onepage text-right d-inline-block d-lg-none">
                    <li><a class="js-menu-toggle" href="#"> Menu </a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
