<div class="feature-v1" data-aos="fade-up" data-aos-delay="0">
  <span class="d-block contact-info-label"> Social Media </span>
  <div class="wrap-icon mb-3">
    <a class="pr-2 pt-2" href="https://www.linkedin.com/in/garywei944/">
      <i class="fa-brands fa-linkedin fa-3x" style="color: #8c8c8c"></i>
    </a>
    <a class="pr-2 pt-2" href="https://twitter.com/Garywei944">
      <i class="fa-brands fa-x-twitter fa-3x" style="color: #8c8c8c"></i
    ></a>
    <a class="pr-2 pt-2" href="https://www.instagram.com/garywei944/">
      <i class="fa-brands fa-instagram fa-3x" style="color: #8c8c8c"></i>
    </a>
    <a class="pr-2 pt-2" href="https://www.facebook.com/garywei944">
      <i class="fa-brands fa-facebook fa-3x" style="color: #8c8c8c"></i>
    </a>
    <a class="pr-2 pt-2" href="https://weibo.com/u/3169486720">
      <i class="fa-brands fa-weibo fa-3x" style="color: #8c8c8c"></i
    ></a>
  </div>
</div>

<div class="feature-v1" data-aos="fade-up" data-aos-delay="0">
  <span class="d-block contact-info-label"> Profiles </span>
  <div class="wrap-icon mb-3">
    <a class="pr-2 pt-2" href="https://github.com/garywei944">
      <i class="fa-brands fa-github fa-3x" style="color: #8c8c8c"></i>
    </a>
    <a class="pr-2 pt-2" href="https://wakatime.com/@garywei944"
      ><img alt="wakatime" src="images/svg/wakatime.svg" height="48"
    /></a>
    <a class="pr-2 pt-2" href="https://www.youtube.com/channel/UCj8ln8nYtPl4lA_6FrWDtyg">
      <i class="fa-brands fa-youtube fa-3x" style="color: #8c8c8c"></i>
    </a>
    <a class="pr-2 pt-2" href="https://space.bilibili.com/3255441">
      <i class="fa-brands fa-bilibili fa-3x" style="color: #8c8c8c"></i
    ></a>
    <a class="pr-2 pt-2" href="https://steamcommunity.com/profiles/76561198306044214/">
      <i class="fa-brands fa-steam fa-3x" style="color: #8c8c8c"></i>
    </a>
    <a class="pr-2 pt-2" href="https://www.reddit.com/user/garywei944">
      <i class="fa-brands fa-reddit fa-3x" style="color: #8c8c8c"></i
    ></a>
    <a class="pr-2 pt-2" href="https://www.zhihu.com/people/wei-guang-hao-88">
      <i class="fa-brands fa-zhihu fa-3x" style="color: #8c8c8c"></i>
    </a>
    <a class="pr-2 pt-2" href="https://leetcode.com/garywei944/"
      ><img alt="leetcode" src="images/svg/leetcode.svg" height="48"
    /></a>
    <a class="pr-2 pt-2" href="https://www.kaggle.com/garywei944">
      <i class="fa-brands fa-kaggle fa-3x" style="color: #8c8c8c"></i
    ></a>
    <a class="pr-2 pt-2" href="https://blog.csdn.net/garywei944"
      ><img alt="csdn" src="images/svg/csdn.svg" height="36" />
    </a>
  </div>
</div>
