<p><a href="https://reachout.cics.umass.edu/"> ReachOUT </a> is a platform that helps
    UMass students find career advisors. This was the project I worked on in a team of
    25 in the Software Programming course and was transferred to UMass CICS Career
    Department after the course end. </p>
<p> I was in the Cloud team working on deploying the dynamic website to the AWS
    serverless services. I also wrote the ReadMe documentations on the <a
            href="https://github.com/cicscareers/320-S20-Track1"> GitHub Repo. </a></p>