<div class="col-md-12 mb-4">
    <div class="detail-v1">
        <span class="detail-label">Project Description</span>
        <p>
            The player should reach a "finish zone" by controlling a character.
        </p>
        <p>
            There is no win or loss condition in this game, only a completed condition (the player enters the “finish
            zone”).
        </p>
        <p>
            Made with Unity.
        </p>
    </div>
</div>
<div class="col-md-12 mb-4">
    <div class="detail-v1">
        <span class="detail-label">Project Date</span>
        <span class="detail-val">Sep 7th, 2020</span>
    </div>
</div>
<div class="col-md-12 mb-4">
    <div class="detail-v1">
        <span class="detail-label"> Instructions </span>
        <p>
            <span style="color: deeppink">"W"</span> and <span
                    style="color: deeppink">"S"</span> to go forward or back <br>
            <span style="color: deeppink">"A"</span> and <span
                    style="color: deeppink">"D"</span> to turn around <br>
            <span style="color: deeppink">"Space"</span> to jump
        </p>
    </div>
</div>
<div class="col-md-12 mb-4">
    <div class="detail-v1">
        <span class="detail-label"> Download </span>
        <a href="https://s3.amazonaws.com/ariseus.net/cs590g_p1/aris_cs590g_p1_1.1.0_win_x86_64.zip">
            <input type="submit"
                   class="btn btn-outline-pill btn-custom-light mr-3"
                   value="Windows 64 bit">
        </a>
        <a href="https://s3.amazonaws.com/ariseus.net/cs590g_p1/aris_cs590g_p1_1.1.0_mac.zip">
            <input type="submit"
                   class="btn btn-outline-pill btn-custom-light mr-3"
                   value="Mac">
        </a>
    </div>
</div>
</div>