<p>
    My team won the 4th place of the UMass scoreboard of UMassCTF 2022.
</p>
<p>
    I personally solved 3 challenges. The pwn challenge <b><a
                href="https://github.com/UMassCybersecurity/UMassCTF-2022-challenges/tree/main/pwn/zip_parser">zip_parser</a></b>
    only solved by 3 teams at last and my team is the second submission.
</p>
