<p>LaTomatina is a casual game developed by Team Devil Otter.</p>
<p>The game was inspired by the traditional Spanish festival La Tomatina (tomato fight).</p>
<p> With an unlimited supply of tomatoes, players compete in a pleased tomato fight on the streets of Bunol with other
    players on the Internet.</p>