<p>
    <a href="https://github.com/garywei944/Reconnect-Unihack21_Devil_Otter">Reconnect System</a>
    is a system that helps offline clients quickly catch up when they get back online
</p>

<p>
    We won the first place in Unihack ’21 Hackathon and awarded ￥10,000 by a full stack website that involving Hugging
    Face NLP Machine Learning Pipeline.
</p>