<p> Have you ever experienced such annoyance, during an online class, could not understand what the professor was saying
    after went to the bathroom?</p>

<p>Are these experiences particularly annoying? Don't worry, we developed the
    <a href="https://devpost.com/software/group-8">Reconnect System</a>, which will help you quickly make up for what
    you lost and get back on track.</p>