<p> I double major in Mathematics (Applied Math and Math Computing concentrations) and
    Computer Science. </p>
<p> I also minor in Japanese as second foreign language. </p>
<p> The expected graduation date is May 2022. </p>
