<p>We presented a combined model to evaluate the accuracy of the Asian Giant Hornet
    sightings reported in Washington State. </p>
<p>RRS: Random Forest + ResNet-18 CNN + Spatial Distribution Reproduction Model.</p>
<p>Refer to the <a href="https://github.com/garywei944/aris_mcm_2021_c">GitHub Repo</a> for
    my implementation and more information.</p>